@model IEnumerable<Sys_C_V_Dario_SVII.Models.Caj_Denominacion.Caj_DenominacionBE>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> oListSelectItemFiltro = new List<SelectListItem>();
    oListSelectItemFiltro.Add(new SelectListItem { Text = "Todos...", Value = "0", Selected = true });
    oListSelectItemFiltro.Add(new SelectListItem { Text = "ID", Value = "1", Selected = false });
    oListSelectItemFiltro.Add(new SelectListItem { Text = "Descripcion", Value = "2", Selected = false });
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#cboFiltro").change(function () {
            var eval = $("#cboFiltro").val();
            if (eval = "0") ListarDenominacion(0, '');
        });
        ListarDenominacion(0, '');
        $("#btnNuevaDenominacion").click(function () {
            $.ajax({
                type : 'POST',
                datatype: 'html',
                url: '@Url.Action("CPVNuevaDenominacion")',
                success : function(page) {
                    $("#MyContainer").html(page);
                    $("#MNuevaDenominacion").modal('show');
                    $("#btnGuardar").click(function () {
                        if ($("#NtxtDscpDenominacion").val() != "") {
                            $.ajax({
                                url: '@Url.Action("NuevaDenominacion")',
                                data: JSON.stringify(fn_CargarDatos(1)),
                                type: 'POST',
                                contentType: 'application/json;',
                                success: function (result) {
                                    $("#MNuevaDenominacion").modal("hide");
                                    if (result.Success == 1) {
                                        if (result.result) {
                                            fn_Alerta("/Sys_Message", "/_MessageExito", { st_cabecera: "Exito!", st_detalle: result.ex }, "MyMessage", "ExitoModal", 1500);
                                            ListarDenominacion(0, '');
                                        } else {
                                            fn_Alerta("/Sys_Message", "/_MessageInformacion", { st_cabecera: "Informacion!", st_detalle: result.ex }, "MyMessage", "InformacionModal", 1500);
                                        }
                                    } else {
                                        $("#MNuevaDenominacion").modal("show");
                                        fn_Alerta("/Sys_Message", "/_MessageError", { st_cabecera: "Error", st_detalle: result.ex }, "MyMessage", "ErrorModal", 1500);
                                        setTimeout(function () { $("#MNuevaCaja").modal("show"); }, 1501);
                                    }
                                }
                            })
                        }
                    });
                    $("#btnCancelar").click(function () { $("#MNuevaDenominacion").modal('hide'); });
                }

            });
        });
    });
    function ListarDenominacion(_case, filtro) {
        fn_ListarTabla(_case, filtro, "/ListarDenominacion", "/Caj_Denominacion", "tblDenominacion");

    }
    function fn_CargarDatos(_case ) {
        if (_case == 1) {
            var objDenominacion = { st_dscpDenominacion: $("#NtxtDscpDenominacion").val(), dt_fchRegistro: "@System.DateTime.Now" };
            return objDenominacion;
        }
        return {in_idDenominacion: 0,st_dscpDenominacion: $("#MtxtDscpDenominacion").val() };
    }

    function fn_QuitarDenominacion(pin_idDenominacion) {
        $.ajax({
            type: 'POST',
            datatype: 'html',
            url: '@Url.Action("CPVQuitarDenominacion")',
            success: function (page) {
                $("#MyContainer").html(page);
                $("#MQuitarDenominacion").modal('show');
                $("#btnSi").click(function () {
                    $.ajax({
                        url: '@Url.Action("QuitarDenominacion")',
                        data: JSON.stringify({ in_idDenominacion: pin_idDenominacion  , bl_ver : 'false'}),
                        type: 'POST',
                        contentType: 'application/json;',
                        success: function (result) {
                            if (result.Success == 1) {
                                if (result.result) {
                                    $("#MQuitarDenominacion").modal("hide");
                                    ListarDenominacion(0, '');
                                    fn_Alerta("/Sys_Message", "/_MessageExito", { st_cabecera: "Exito!", st_detalle: result.ex }, "MyMessage", "ExitoModal", 1500);
                                } else {
                                    fn_Alerta("/Sys_Message", "/_MessageInformacion", { st_cabecera: "Informacion!", st_detalle: result.ex }, "MyMessage", "InformacionModal", 1500);
                                }
                            } else {
                                $("#MQuitarDenominacion").modal("hide");
                                fn_Alerta("/Sys_Message", "/_MessageError", { st_cabecera: "Error!", st_detalle: result.ex }, "MyMessage", "ErrorModal", 1500);
                            }
                        }
                    });
                });

                $("#btnNo").click(function () {
                    $("#MQuitarDenominacion").modal("hide");
                });
            }
        });
    }
    function fn_DetallesDenominacion(pin_idDenominacion) {
        fn_Detalles('/Caj_Denominacion', '/DetallesDenominacion', {in_idDenominacion:pin_idDenominacion} , "MyContainer" , "MDetalleDenominacion");
    }
    function fn_ModificarDenominacion(pin_idDenominacion) {
        $.ajax({
            type: 'POST',
            datatype: 'html',
            data: {in_idDenominacion:pin_idDenominacion}  ,
            url: '@Url.Action("CPVModificarDenominacion")',
            success: function (page) {
                $("#MyContainer").html(page);
                $("#MModificarDenominacion").modal('show');
                $("#btnSalir").click(function () {
                    $("#MModificarDenominacion").modal('hide');
                });
                $("#btnGuardar").click(function () {
                    var objDenominacion = fn_CargarDatos(0);
                    objDenominacion.in_idDenominacion = pin_idDenominacion;
                    $.ajax({
                        url: '@Url.Action("ModificarDenominacion")',
                        data: JSON.stringify(objDenominacion),
                        type: 'POST',
                        contentType: 'application/json;',
                        success: function (result) {
                            if (result.Success == 1) {
                                if (result.result) {
                                    $("#MModificarDenominacion").modal("hide");
                                    ListarDenominacion(0, '');
                                    fn_Alerta("/Sys_Message", "/_MessageExito", { st_cabecera: "Exito!", st_detalle: result.ex }, "MyMessage", "ExitoModal", 1500);
                                } else {
                                    fn_Alerta("/Sys_Message", "/_MessageInformacion", { st_cabecera: "Informacion!", st_detalle: result.ex }, "MyMessage", "InformacionModal", 1500);
                                }
                            } else {
                                $("#MQuitarDenominacion").modal("hide");
                                fn_Alerta("/Sys_Message", "/_MessageError", { st_cabecera: "Error!", st_detalle: result.ex }, "MyMessage", "ErrorModal", 1500);
                            }
                        }
                    });
                });
            }
        });
    }
    function fn_Filtrar() {
        if ($("#cboFiltro").val() != "0" && $("#txtFiltro").val() != "") {
            ListarDenominacion($("#cboFiltro").val(), $("#txtFiltro").val());
        }
    }

</script>

<!-- Content Header (Page header) -->
        
            <h1><b>DENOMINACION</b></h1>
       
<!-- Main content -->
<div class="box box-primary">
    <div class="box-body">
        <div class="form-group ">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <label class="control-label"> FILTRO: </label>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  @Html.DropDownList("cboFiltro", oListSelectItemFiltro, new { @class = "form-control" })  
                </div>
                &nbsp;
                <div class="col-sm-4 col-md-4 col-lg-4">
                   @Html.TextBox("txtFiltro", null, new { @class = "form-control" }) 
                </div>
                &nbsp;
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" name="btnBuscar" class="btn btn-default" style="width:100%" onclick="fn_Filtrar();"><span class="glyphicon glyphicon-search" ></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-body">
        <form class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1">
                        <button type="button" class="btn btn-info" name="btnNuevaDenominacion" id="btnNuevaDenominacion">Nuevo</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                                <table class="table table-striped" id="tblDenominacion">
                                    
                                    
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="MyContainer"></div>
<div id="MyMessage"></div>
           
           