@model IEnumerable<Sys_C_V_Dario_SVII.Models.Mod_Compra.Pro_Producto.Pro_ProductoBE>

<div class="modal fade" id="MDetalles" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="exampleModalLabel">Sección</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Seccion</th>
                                            <th>Tipo Producto</th>
                                            <th>Marca</th>
                                            <th>Descripción</th>
                                            <th>Registro</th>
                                            <th>Operaciones</th>
                                        </tr>
                                    </thead>
                                    @ if (Model!= null) {
                                   foreach (var item in Model)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.c_codProducto)</td>
                                                <td>@Html.DisplayFor(modelItem => item.oSeccionBE.vc_dscpSeccion)</td>
                                                <td>@Html.DisplayFor(modelItem => item.oTipoProductoBE.vc_dscpTipProducto)</td>
                                                <td>@Html.DisplayFor(modelItem => item.oMarcaBE.vc_dscpMarca)</td>
                                                <td>@Html.DisplayFor(modelItem => item.vc_dscpProducto)</td>
                                                <td>
                                                <td><button type="button" class="btn btn-info">Seleccionar</button></td>
                                            </tr>
                                        </tbody>} }
                                </table>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Editar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
