@model Sys_C_V_Dario_SVII.Models.Mod_Venta.Vta_Venta.Vta_VentaBE


<div class="modal fade" id="MDetalles" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="exampleModalLabel">Generar</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4 class="col-md-3">Venta :</h4>
                                <h4 class="col-md-3">@Html.DisplayFor(model => model.i_idVenta)</h4>
                                <h4 class="col-md-3">Fecha :</h4>
                                <h4 class="col-md-3">@Html.DisplayFor(model => model.dt_fchRegistro)</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4 class="col-md-3">Código Comprobante:</h4>
                                <h4 class="col-md-3">@Html.DisplayFor(model => model.oComprobante.i_idComprobante)</h4>
                                <h4 class="col-md-3">N° Comprobante:</h4>
                                <h4 class="col-md-3">@Html.DisplayFor(model => model.oComprobante.vc_numComprobante)</h4>
                            </div>
                        </div>

                        <!-- Generar Comprobante -->
                        <div class="col-md-12">
                            <form>
                                <h4 class="col-md-3">Naturaleza:</h4>
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option>Seleccionar</option>
                                        <option>Opcion 1</option>
                                        <option>Opcion 2</option>
                                    </select>
                                </div>
                                <h4 class="col-md-3">Tipo Comprobante :</h4>
                                <div class="col-md-3">
                                    <select class="form-control" id="status" name="status" onChange="mostrar(this.value);">
                                        <option>Seleccionar</option>
                                        <option value="Ticket">Ticket</option>
                                        <option value="Boleta">Boleta</option>
                                        <option value="Factura">Factura</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form>
                                <h4 class="col-md-3">Modelo:</h4>
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option>Seleccionar</option>
                                        <option>Opcion 1</option>
                                        <option>Opcion 2</option>
                                    </select>
                                </div>
                                <h4 class="col-md-3">Tipo de Cambio :</h4>
                                <div class="col-md-3">
                                    <h4 class="col-md-3">S/0.00</h4>
                                </div>
                            </form>
                        </div>
                        <!-- Generar Comprobante - Caso Ticket -->
                        
                        <div id="Ticket" style="display: none;">
                            <div class="col-md-12">
                                <h3 class="col-md-12">Ticket</h3>
                                <form>
                                    <h4 class="col-md-3">Registrador :</h4>
                                    <h4 class="col-md-3">Usuario 1</h4>
                                    <h4 class="col-md-3">Cliente :</h4>
                                    <h4 class="col-md-3">Nombre del Cliente</h4>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Descripcion</th>
                                                <th>Cantidad</th>
                                                <th>Total Producto</th>
                                            </tr>
                                        </thead>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model.oListVentaDetalle)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>@Html.DisplayTextFor(i => item.i_idVntDetalle)</td>
                                                        <td>@Html.DisplayTextFor(i => item.oProductoBE.vc_dscpProducto)</td>
                                                        <td>@Html.DisplayTextFor(i => item.f_cntPrdVntDetalle)</td>
                                                        <td>@Html.DisplayTextFor(i => item.f_totalVntDetalle)</td>
                                                    </tr>
                                                </tbody>}
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">@Html.DisplayFor(model => model.subTotal)</h4>
                                    <h4 class="col-md-2 pull-right">Sub Total :</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">S/ 0.00</h4>
                                    <h4 class="col-md-2 pull-right">IGV :</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">@Html.DisplayFor(model => model.subTotal)</h4>
                                    <h4 class="col-md-2 pull-right">Total Neto :</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Generar Comprobante - Caso Ticket -->
                        <!-- Generar Comprobante - Caso Boleta -->
                        <div id="Boleta" style="display: none;">
                            <div class="col-md-12">
                                <h3 class="col-md-12">Boleta</h3>
                            </div>
                            <div class="col-md-12">
                                <h4 class="col-md-2">Cliente :</h4>
                                <h4 class="col-md-4">Nombre del Cliente</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Descripcion</th>
                                                <th>Cantidad</th>
                                                <th>Total Producto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Camisa</td>
                                                <td>3</td>
                                                <td>150</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Pantalon</td>
                                                <td>2</td>
                                                <td>140</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                                    <h4 class="col-md-2 pull-right">Total Neto :</h4>
                                </div>
                            </div>

                        </div>
                        <!-- Generar Comprobante - Caso Boleta -->
                        <!-- Generar Comprobante - Caso Factura -->
                        <div id="Factura" style="display: none;">
                            <div class="col-md-12">
                                <h3 class="col-md-12">Factura</h3>
                            </div>
                            <div class="col-md-12">
                                <h4 class="col-md-2">Cliente :</h4>
                                <h4 class="col-md-4">Nombre del Cliente</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Descripcion</th>
                                                <th>Cantidad</th>
                                                <th>Total Producto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Camisa</td>
                                                <td>3</td>
                                                <td>150</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Pantalon</td>
                                                <td>2</td>
                                                <td>140</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                                    <h4 class="col-md-3 pull-right">Operación Gravada:</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">S/ 0.00</h4>
                                    <h4 class="col-md-3 pull-right">Operación no Gravada:</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="col-md-2 pull-right">S/ 290.00</h4>
                                    <h4 class="col-md-2 pull-right">Total Neto :</h4>
                                </div>
                            </div>

                        </div>
                        <!-- Generar Comprobante - Caso Factura -->
                        <!-- Generar Comprobante -->
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Imprimir</button>
                <button type="button" class="btn btn-info">Grabar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
        </div>
        </div>
