@model IEnumerable<Sys_C_V_Dario_SVII.Models.Mod_Compra.Pro_Producto.Pro_ProductoBE>

<thead>
    <tr>
        <th>Producto</th>
        <th>Seccion</th>
        <th>Tipo Producto</th>
        <th>Marca</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Operacion</th>
    </tr>
</thead>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.c_codProducto)</td>
            <td>@Html.DisplayFor(modelItem => item.oSeccionBE.vc_dscpSeccion)</td>
            <td>@Html.DisplayFor(modelItem => item.oTipoProductoBE.vc_dscpTipProducto)</td>
            <td>@Html.DisplayFor(modelItem => item.oMarcaBE.vc_dscpMarca)</td>
            <td>@Html.DisplayFor(modelItem => item.vc_dscpProducto)</td>
            <td>
                <select class="form-control">
                    <option>Estado</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-info">Seleccionar</button>
            </td>
        </tr>
    </tbody>}
}